<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arr.angel.pertpratice">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_pert_practice_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.view.Question01Activity" />
        <activity android:name=".ui.view.Question02Activity" />
        <activity android:name=".ui.view.Question03Activity" />
        <activity android:name=".ui.view.Question04Activity" />
        <activity android:name=".ui.view.Question05Activity" />
        <activity android:name=".ui.view.Question06Activity" />
        <activity android:name=".ui.view.TopicResultsActivity" />
        <activity android:name=".ui.view.OverallTopicResultsActivity" />
        <activity android:name=".ui.view.Example01" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <service
            android:name=".WidgetUpdateService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.ae.andriod.bakingapp.widgetupdateservice.update_app_widget_result" />
            </intent-filter>
        </service>

        <receiver android:name=".PertPracticeWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/pert_practice_widget_info" />
        </receiver>
    </application>

</manifest>